<mat-toolbar class="rounded-xl dflex !bg-gray-100">
  <button [routerLink]="['/home']">
    <span>Idea-up</span>
  </button>

  <input type="text" class="nav_search_input" placeholder="search idea" (input)="onSearch($event)" />

  <div>
    <button [routerLink]="['/saved']" routerLinkActive="!bg-[#02BF67] !text-white" class="!mr-1" mat-stroked-button>
      Saved ideas
    </button>

    <button routerLinkActive="!bg-[#02BF67] !text-white" [routerLink]="['/my-ideas']" class="mr-1" mat-stroked-button>
      My ideas
    </button>

    <button class="mr-1 !bg-[#02BF67] !text-white" (click)="openModal()" mat-stroked-button>Account</button>
  </div>
</mat-toolbar>
