<app-navbar/>

<mat-tab-group mat-align-tabs="start" [disableRipple]="true" mat-stretch-tabs="false" class="custom-mat-tab mt-5">
    <mat-tab label="First"></mat-tab>
    <mat-tab label="Second"></mat-tab>
  </mat-tab-group>

  <div class="w-full flex flex-col bg-gray-100 py-6 px-12 rounded-[14px] mt-5">
    <div class="flex items-center mb-4">
      <h3 class="!text-[22px] flex-1">My ideas</h3>
      <button class="!bg-[#02BF67] !text-white !mr-1" mat-stroked-button>Add</button>
  </div>
    <div>
      @for (idea of ideas; track idea) {
        <app-idea [isMy]="idea" class="my-1" />
      }
    </div>
  </div>