/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GilroySemibold !important;
  src: url(../public/fonts/gilroy-semibold.ttf);
}

html,
body {
  height: 100%;
}

.font-gilroy {
  font-family: GilroySemibold !important;
}

.text-main {
  color: #101828 !important;
}

body {
  margin: 0;
  @extend .font-gilroy;
}

.custom-mat-tab {
  .mdc-tab__ripple {
    display: none !important;
  }

  .mat-mdc-tab {
    border-radius: 40px !important;
    cursor: pointer;

    &.mdc-tab--active {
      background: #f2f4f7 !important;
    }

    .mdc-tab__text-label {
      @extend .text-main;
    }

    .mdc-tab-indicator {
      display: none !important;
    }
  }
}

.google_auth_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.google_auth_wrapper p {
  color: #98a2b3;
  font-size: 16px;
  position: relative;
}
.google_auth_wrapper p:before,
.google_auth_wrapper p:after {
  content: '';
  width: 12vw;
  height: 1px;
  background-color: #98a2b3;
  position: absolute;
  top: 50%;
}
.google_auth_wrapper p:before {
  right: 170%;
}
.google_auth_wrapper p:after {
  left: 170%;
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_search_input {
  padding: 3px;
  border-radius: 5px;
  width: 30%;
  outline: none;
  font-size: 15px;
}
.nav_search_input::placeholder {
  font-size: 15px;
  padding-left: 10px;
}
